.grid-container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    color: #333;
    background-color:#fff;
    
    display: grid;
    grid-template-columns: 15% 9.44% 9.44% 9.44% 9.44% 9.44% 9.44% 9.44% 9.44% 9.44%;
    grid-template-rows: 5% 11.25% 11.25% 11.25% 11.25% 11.25% 11.25% 11.25% 11.25% 5%;

    gap: 0px 0px;
    grid-template-areas:
        "Header Header Header Header Header Header Header Header Header Header"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page Main-Page"
        "Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer";
}

.Header {
    grid-area: Header;
    color: #fff;
    background-color:#000;
    height: 40px;
}

.Footer {
    grid-area: Footer;
}

.Main-Page {
    grid-area: Main-Page;
}