@inherits LayoutComponentBase
<div class="grid-container">
    <div class="Header">
        <NavMenu />
    </div>
    <div class="Main-Page">
        @Body
    </div>
    <div class="Footer">
        Footer
    </div>
</div>